*{
    text-align: justify;
}
@font-face {
    font-family: fa;
    src: url();
}
main{
    margin-left: auto;
    margin-right: auto;
    display:block;
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 3%;
    border-radius: 2%;

}
body{
    background-image:linear-gradient(to right ,#D919A2, #480564) ;
}
button{
    margin-left: auto;
    margin-right:auto;
    display: block;
    width: 170px;
    border-radius: 15%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border:none;
    background-image:linear-gradient(to right,#F96AE8,#ffff);
    
}